@import "resp.css";
@import "style.css";
*{
    box-sizing: border-box;
}
html{
    overflow: inherit; 
}
body{
    overflow: inherit;

}
body{
    font-family: 'Caviar Dreams';
}
a{
    text-decoration: none;
}
.content{
    max-width: 1100px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}
.head_title{
    color: #FE0065;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}
ul{
    list-style: none;
}
.list{
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}
.block1{
    background: #FE0065;
    color: #fff;
    font-size: 40px;
    font-weight: 600;  
    text-align: center;
    width: 70px; 
    height: 83px;
    display: inline-block;
    vertical-align: top;
    margin-left:10px;
}
.item{
    margin:90px 0 0 0;
}
.month{
    display: block;
    font-size:15px;
    color:#820034;
    text-transform: uppercase;
    letter-spacing: 0; 
    border-bottom: 1px solid #FE617B;    
}
.block2{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.block2 img{
    width: 280px;
}
.block3{
    display: inline-block;
    margin-top:-3px;
    vertical-align: top;
    width: 540px;
}
.title{
    color: #3e454c;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: -.5px;
    font-weight: 300;
    width: 420px;
    transition: color 0.4s;
}
.title:hover{
    color:#FE0065;
    transition: color 0.4s;
}
.box_views{
    padding: 0;
}
.views{
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color:#FE0065;
    transition: color 0.4s
}
.views:hover{
    color: #3e454c; 
    transition: color 0.4s;
}
.text{
    color: #3e454c;
}
.link{
    background: #363f45;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    padding: 0 20px;
    line-height: 45px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.4s;
    margin-top:40px;
}
.link:hover{
    background: #FE0065;
    transition: background 0.4s;
}
    .fa-book{
        color:black;
    }