@media all and (max-width:1165px){
    .item .block2 img{
        height: 150px ;
    }
    /* .block3 a .title{
        width: 420px;
    } */
    .item .block3{
        /* width: 450px; */
        padding-left: 30px;
        display: inline-block;
    }
}
@media all and (max-width:915px){
    .container-list .list-nav li{
        font-size:16px;
    }
    .con-logo .logo{
        width: 140px;
    }
    .item .block2 img{
        height: 90px ;
    }
}
@media all and (max-width:1000px){
    .background{
        background-position: center center;
    }
}


@media all and (max-width:792px){
     .item .block1{
    width: 80px; 
    height: 30px;
    padding: 0;
    font-size: inherit;
    margin-bottom: 10px;
    letter-spacing: 0px;  
    }
    .item .block1 time{
    font-size: 20px;
    display: inline-block;
    }
    .item .block1 .month{
        display: inline;
        font-size:15px;
        border:none;
    } 
    .item .block2{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .item .block2 img{
        height: 100%;
        width: 100%;
        padding-left:10px;
        padding-right:10px;
    }
     .item .block3{
        width: 100%;
        padding-left:10px;
    } 
    .item .block3 .title{
        padding-right: 10px;
        width: 100%;
        font-size:14px;
    }
    .item .block3 .link{
        font-size: 12px;
        padding: 0 10px;
        height: 25px;
        line-height: 25px;
    }
    .container-list .list-nav{
        display: none;
    }
    .con-logo .logo{
        margin-left:50px;
    }
    header .container {
        display: block;
    }
}


