@import "resp.css";
    @font-face {
    font-family: 'Caviar Dreams';
    src: local('Caviar Dreams'), 
         url('../fonts/caviar-dreams-bold.ttf') format('truetype');
    }
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .background{
    background: url(../image/background.bmp) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover; /* Safari 3.0, Android 2.3 - 4.3, Opera Mini и т. д. */
    -moz-background-size: cover; /* Gecko 1.9.2 (Firefox 3.6) */
    -o-background-size: cover; /* Opera 9.5 */
    background-size: cover; /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
    }
    header{
        position: relative;
        height: 60px;
        background: #141414;
        margin:0;
        padding: 0;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around; 
        align-items: center;
    }
    .logo{
        width: 200px;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .list-nav{
        display: flex;
        justify-content: center; 
    }
    .list-nav li:first-child{
        margin-left:10px;
    }
    .list-nav li{
        font-size:20px;
        margin-right: 14px;
    }
    a{
        text-decoration: none;
        color:#fff;
        font-family: 'Caviar Dreams';
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .list-nav li a span{
        color:#23A5B0;
    }
    .list-nav li a:hover{
        color:#23A5B0;
        transition: color 0.5s;
        text-decoration: none; 
    }
    .submenu{
        display: flex;
        flex-direction: row;   
    }   
    .submenu li {
        margin: -10px 18px;
    } 
    .submenu .facebook:before{
        position: absolute;
        content:"";
        background: url('../icons/facebook.png') no-repeat center;
        width: 20px;
        height: 20px;
        transition: background 0.4s ease-out;
        
    }
    .submenu .facebook:hover:before{
        position: absolute;
        content:"";
        background: url('../icons/facebook_hover.png') no-repeat center;
        width: 20px;
        height: 20px;
        
    }
    .submenu .twitter:before{
        position: absolute;
        content:"";
        background: url('../icons/twitter.png') no-repeat center;
        width: 20px;
        height: 20px;
        transition: background 0.4s ease-out;
    }
    .submenu .twitter:hover:before{
        position: absolute;
        content:"";
        background: url('../icons/twitter_hover.png') no-repeat center;
        width: 20px;
        height: 20px;
    }
    .submenu .instagram:before{
        position: absolute;
        content:"";
        background: url('../icons/instagram.png') no-repeat center;
        width: 20px;
        height: 20px;
        transition: background 0.4s ease-out;
    }
    .submenu .instagram:hover:before{
        position: absolute;
        content:"";
        background: url('../icons/instagram_hover.png') no-repeat center;
        width: 20px;
        height: 20px;
    }


    
    .container {
        display: none;
        position: absolute;
        height: 100%;
        left: 0;
        -webkit-transition:  left 0.4s ease-in-out;
        -moz-transition:  left 0.4s ease-in-out;
        -ms-transition:  left 0.4s ease-in-out;
        -o-transition:  left 0.4s ease-in-out;
        transition:  left 0.4s ease-in-out;
    }
    .container.open-sidebar {
        left: 160px;
    }
    .swipe-area {
        position: absolute;
        width: 50px;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 0;
    }
    #sidebar {
        position: absolute;
        width: 160px;
        min-height: 100%;
        left: -160px;
        background: #141414;
    }
    #sidebar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    #sidebar ul li {
        margin: 0;
    }
    #sidebar ul li a {
        font-size: 20px;
        color: white;
        padding: 20px 0px;
        text-decoration: none;
        text-align: center;
        display: block;
        -webkit-transition:  background 0.3s ease-in-out;
        -moz-transition:  background 0.3s ease-in-out;
        -ms-transition:  background 0.3s ease-in-out;
        -o-transition:  background 0.3s ease-in-out;
        transition:  background 0.3s ease-in-out;
    }
    #sidebar ul li:hover a {
        background: #b6006e;
    }
    .main-content {
        width: 100%;
        height: 100%;
        padding: 10px;
        position: relative;
    }
    .main-content .content{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        padding-left: 60px;
        width: 100%;
    }
    .main-content #sidebar-toggle {
        background: #fff;
        opacity: 0.5;
        border-radius: 3px;
        display: block;
        position: relative;
        padding: 10px 7px;
        float: left;
    }
    .main-content #sidebar-toggle .bar{
        display: block;
        width: 18px;
        margin-bottom: 3px;
        height: 2px;
        background-color: #000;
        border-radius: 1px;
    }